<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Todo — Login</title>
    <meta name="description" content="A simple HTML5 Template for new projects.">
    <meta name="author" content="SitePoint">

    <meta property="og:title" content="A Basic HTML5 Template">
    <meta property="og:type" content="website">
    <meta property="og:url" content="https://www.sitepoint.com/a-basic-html5-template/">
    <meta property="og:description" content="A simple HTML5 Template for new projects.">
    <meta property="og:image" content="image.png">

    <link rel="icon" href="/favicon.ico">
    <link rel="icon" href="/favicon.svg" type="image/svg+xml">
    <link rel="apple-touch-icon" href="/apple-touch-icon.png">

    <link rel="stylesheet" href="../../css/app.css">
    <script type="text/javascript" src="../../scripts/login/buttons.js"></script>
</head>
<body>
    <div class="app login">
        <div class="logo">
            <img src="../images/logo.png" height="102" alt="Todo" />
        </div>

        <div class="loginContainer">
            <h1>Sign in</h1>
            <div class="informativeDescription">Track and organize your daily tasks</div>

            <div class="buttons">
                <a href="/auth/google" class="google">Login with Google</a>
                <a href="/auth/steam" class="steam">Login with Steam</a>
                <a href="/auth/discord" class="discord">Login with Discord</a>
            </div>
        </div>
    </div>
</body>
</html>
